<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> -:: Laravel Theme ::- </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
    <script type="text/javascript" src="js/jssor.js"></script>
    <script type="text/javascript" src="js/jssor.slider.min.js"></script>
</head>
<body>

<header>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="logo">
					<a href=""><img src="img/logo.jpg" alt=""></a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="social_icon">
					<a href=""><img src="img/facebook.jpg" alt="facebook"></a>
					<a href=""><img src="img/twitter.jpg" alt="twitter"></a>
					<a href=""><img src="img/google-plus.jpg" alt="google plus"></a>
				</div>
				<div class="search">
					<input type="text" name="search" id="search" value="" placeholder="Searching...">
					<input type="submit" value="" class="button-search">
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="nav">
				<ul>
					<li class="current"><a href="">Home</a></li>
					<li><a href="">All post</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">National</a></li>
					<li><a href="">International</a></li>
					<li><a href="">Gallery</a></li>
					<li><a href="">login</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>



<article>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="article">
					<div class="post">
						<img src="img/post.jpg" alt="">
						<h2><a href="">Lorem ipsum dolor sit amet, consectetur.</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, illum! Eveniet animi a facilis, nihil, deserunt, et nobis reiciendis saepe suscipit impedit doloremque maxime! Nisi commodi magnam voluptatum quos iste.</p>
						<div class="more"><a href="">read more</a></div>
						
					</div>


				</div>
			</div>


			<div class="col-md-4">
				<div class="right_sidebar">
					<div class="add">
						<h2><a href="">Lorem ipsum</a></h2>
						<img src="img/post.jpg" alt="">
					</div>
					<div class="social">
						<h2><a href="">Latest News</a></h2>
						<ul>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet, consectetur.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>



<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="copyright">
					<p>Copyright 2015. All rights reserved.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="developer">
					<h2><a href="">LINCOLN MAHMUD</a></h2>
				</div>
			</div>
		</div>
	</div>
</footer>
	
</body>
</html>